<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Casa Limpa</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/servicos.css">
</head>
<body>


<section class="section" id="quem">
    <div class="card">
        <h2>Quem Somos?</h2>
        <p>A Casa Limpa é uma microempresa especializada em limpeza residencial, organização e cuidados do lar.</p>
        <p>"Mais do que limpar, criamos ambientes equilibrados e agradáveis que tornam sua casa mais leve e acolhedora."</p>
    </div>
    <div class="img-side">
        <img src="../file/img/everdrop-gmbh-SqOMDOQb3ws-unsplash (1).jpg" />
    </div>
</section>

<section class="section" id="historia">
    <div class="img-side">
        <img src="../file/img/josue-michel-MwxsRSG1A2s-unsplash.jpg" />
    </div>
    <div class="card">
        <h2>Nossa História</h2>
        <p>Após anos trabalhando com serviços domésticos, Flávia decidiu abrir sua própria empresa com foco em atendimento próximo, confiável e cuidadoso.</p>
        <p>Hoje, a Casa Limpa cresce com base em valores simples: responsabilidade, carinho e dedicação.</p>
    </div>
</section>

<section class="section" id="missao">
    <<div class="card">
        <h2>Nossa Missão</h2>
        <p>Oferecer serviços com qualidade, carinho e responsabilidade, garantindo tranquilidade e bem-estar para a casa de todos os clientes.</p>
    </div>
    <div class="img-side">
        <img src="../file/img/photo-1600585154340-be6161a56a0c.avif" />
    </div>
</section>

<section class="servicos" id="servicos">
    <h2>Serviços</h2>
    <div class="cards-servicos">

        <div class="servico-item">
            <div class="servico-img">
                <img src="../file/img/giorgio-trovato-5TXz228u4eo-unsplash.jpg" />
            </div>
            <h3>Limpeza essencial e profunda</h3>
            <p>• Limpezas residenciais e comerciais<br>• Manutenção semanal/quizenal<br>• Áreas externas</p>
        </div>

        <div class="servico-item">
            <div class="servico-img">
                <img src="../file/img/bymatter-made-better-54oo2TNmPBk-unsplash.jpg" />
            </div>
            <h3>Gestão de Tarefas Domésticas</h3>
            <p>• Lavar e passar roupas<br>• Organização geral<br>• Cozinha, armários, closets e mais</p>
        </div>

        <div class="servico-item">
            <div class="servico-img">
                <img src="../file/img/gil-ribeiro-3hO8igCybds-unsplash.jpg" />
            </div>
            <h3>Serviços Especiais</h3>
            <p>• Babysitting<br>• Limpeza para locação (Airbnb)<br>• Pós-evento</p>
        </div>

    </div>
</section>

</body>
</html>
